#backgroundMint {
    background-image: url("../../Common/static/mint/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* height: 100%; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
#minLoading {
  position: absolute;
  z-index: 99!important;
  top: 0;
  left: 0;
    background-image: url("../../Common/static/mint/BlackMintingBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* height: 100%; */
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.imgAvatarMint{
  /* height: 400px; */
  height: 30vw;
  min-height: 300px;
}
.textUnderSliderMint{
  font-size: 20px;
}

.textBorderMint{
 font-weight: bold;
  font-size: 40px;
}

.SummonButtonImgMint{
  width: 200px;
     /* margin: 0 40px 0 40px; */

}  
/* .ArrowImgSliderMint{
  width: 50px;
} */
.BorderImgSliderMint{
  width: 70px;
}
 

/* .WidthBtnUnder{
  width: 50%;
} */

  .progressBarInside{
    background-image: url("../../Common/static/mint/GaugeBG.png");
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
     background-size: 100% 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-origin: content-box;
  }

  .mintBorderText{
    color: whitesmoke;
    font-weight: 600;
    font-size: 2.5vw;
    background-image: url("../../Common/static/mint//MintBorder.png");
    background-size: 100% 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  padding:  10px;
  }
  .heightprogress{
    height: 80px;
    }
    @media only screen and (max-width: 600px) {
        .heightprogress{
      height: 20px;
      }
      .mintBorderText{
        color: whitesmoke;
 
        font-size: 3.5vw !important;
      }
    
    }

    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      .heightprogress{
        height: 48px;
        }
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      .heightprogress{
        height: 48px;
        }
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
      .heightprogress{
        height: 67px;
        }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      .heightprogress{
        height: 80px;
        }
    }
    @media only screen and (min-width: 2000px) {
        .heightprogress{
          height: 120px;
          }
      }









/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1750px) {


  .WidthBtnUnder{
    width: 50%;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 900px) {

  .imgAvatarMint{
    height: 300px;
  }
  .SummonButtonImgMint{
    width: 100px;
    /* margin: 0 40px 0 40px; */
  }
  /* .ArrowImgSliderMint{
    width: 40px;
  } */
  .BorderImgSliderMint{
    width: 70px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1300px) {


  .WidthBtnUnder{
    width: 90%;
  }

}

@media only screen and (max-width: 750px) {

  .imgAvatarMint{
    height: 200px;
  }
  .WidthBtnUnder{
    margin-top: 20px;
    height: 250px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}





.mainCenterPAddingTop{
  padding-top: 8%;
}

@media only screen and (max-width: 600px) {
  #backgroundMint {
    background-image: url("../../Common/static/mint/bgMobile.jpg");
 
  }
  .mainCenterPAddingTop{
    padding-top: 70%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .mainCenterPAddingTop{
    padding-top: 70%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainCenterPAddingTop{
    padding-top: 35%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mainCenterPAddingTop{
    padding-top:33%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mainCenterPAddingTop{
    padding-top: 7%;
  }
}