 .position-absolute{
   position:absolute
 }
 .d-flex{
   display: flex;
 }
 .flex-column{
   display: flex;
   flex-direction: column;
 }
 .justify-content-center{
   justify-content: center;
 }
 .align-items-center{
   align-items: center;
 }
 .flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .w-100{
   width: 100%;
 }
 .justify-content-between{
   justify-content: space-between;
 }

 .w-86{
  width: 86%;
}
.h-20vh{
  height: 20vh;
}
.h-90vh{
  height: 90vh;
}
.mainContainer{
  height: 100%;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px
}
.shadow-dark-box{
  box-shadow: 0  0 3px 4px rgba(30,30,30,0.48)
}

.horizontal-scrolling {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}
.vertical-scrolling {
  height: 100%;
  overflow: auto;
  white-space: nowrap;
 }
.overFlow-auto{
  overflow:auto;
}
.overFlow-x-auto{
  overflow-x:auto;
}.overFlow-y-auto{
  overflow-y:auto;
}

.text-ellipsis{
 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 


}
.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.containerHeight{
  height: 100%;
  display: flex;
  flex-flow: column;
}
.restHeight{
  flex-grow : 1;
}
.restHeight::-webkit-scrollbar {
  display: none;
}
.headerTitle{
  font-size: 18px ;
 
  font-weight: 300;
  margin: 10px 0;

}
.min-h-100vh{
  min-height: 100vh;
}

.bg-cover{
  background-size: cover;
}
.d-none{
  display: none;
}