body {
    /*font-family: Evil_Bible;*/
}

.position-absolute {
    position: absolute
}

.text-white {
    color: white;
}
.overflow-hidden{
    overflow: hidden;
}
.flex-wrap{
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.object-fit-contain {
    object-fit: contain;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}


.w-86 {
    width: 86%;
}

.h-20vh {
    height: 20vh;
}

.h-90vh {
    height: 90vh;
}

.mainContainer {
    height: 100%;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px
}

.shadow-dark-box {
    box-shadow: 0 0 3px 4px rgba(30, 30, 30, 0.48)
}

.horizontal-scrolling {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

.vertical-scrolling {
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}

.overFlow-auto {
    overflow: auto;
}

.overFlow-x-auto {
    overflow-x: auto;
}

.overFlow-y-auto {
    overflow-y: auto;
}

.text-ellipsis {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.bottom-axis-y {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
}

.containerHeight {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.restHeight {
    flex-grow: 1;
}

.restHeight::-webkit-scrollbar {
    display: none;
}

.headerTitle {
    font-size: 18px;

    font-weight: 300;
    margin: 10px 0;

}

.min-h-100vh {
    min-height: 100vh;
}

.bg-cover {
    background-size: cover;
}

.d-none {
    display: none;
}

.MenuItemBtn {
    position: relative;
    font-size: 23px;
    width: 220px;
    z-index: 10000;
}

.position-relative {
    position: relative;
}

.menuStake {
    font-family: Evil_Bible;
    font-size: 25px;
    padding: 20px;
    color: whitesmoke;
}

.TextUnderMenuStake {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 40px;
    font-family: Evil_Bible;
}

.TopSliderStake {
    margin-top: 120px;
    font-size: 40px
}

.itemsSlider {
    position: relative;
    width: 400px;
}

.BtnUnderSliderStake{
    /*font-size: 20px;*/
    font-family: Evil_Bible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textUnderSliderStake{
    font-size: 22px;
}


.textSoulsSliderStake{
    font-size: 30px;
}

.ArrowImgSliderStake{
    width: 30px;
}
.BorderImgSliderStake{
    width: 70px;
}

.ProgressMenu{
    font-family: Evil_Bible;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.TitleProgressMenu{
    font-size: 55px;
}
.descProgressMenu{
    display: flex;
    flex-direction: column;
    font-size: 40px;
}








.itemProgressMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 27%;
    height: 900px;
    background-color: black;
    justify-content: space-around;
    opacity: 0.7;
}

@media only screen and (max-width: 2100px) {

    .textUnderSliderStake{
        font-size: 19px;
    }
    .descProgressMenu{
        font-size: 30px;
    }
    .TitleProgressMenu{
        font-size: 40px;
    }
    .itemsSlider {
        position: relative;
        width: 300px;
    }
}


@media only screen and (max-width: 1600px) {

    .textUnderSliderStake{
        font-size: 17px;
    }
    .descProgressMenu{
        font-size: 25px;
    }
    .TitleProgressMenu{
        font-size: 35px;
    }
    .itemsSlider {
        position: relative;
        width: 270px;
    }
}


@media only screen and (max-width: 1450px) {
    .TextUnderMenuStake {
        top: 10%;
        right: 2%;
    }
    .TopSliderStake {
        margin-top: 240px;
    }
}

@media only screen and (max-width: 1310px) {

    .TextUnderMenuStake {
        top: 8%;
        right: 2%;
    }
    .TopSliderStake {
        margin-top: 140px;
    }
    .textUnderSliderStake{
        font-size: 15px;
    }
    .descProgressMenu{
        font-size: 20px;
    }
    .TitleProgressMenu{
        font-size: 30px;
    }
    .textUnderSliderStake{
        font-size: 17px;
    }
    .TextUnderMenuStake {
        font-size: 20px;
    }

    .MenuItemBtn {
        width: 150px;
        font-size: 16px;
    }
    .itemProgressMenu{
        margin-top: 20px;
        width: 45%;
        height: 600px;
    }
    .ProgressMenu{
       flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 650px) {

    .itemProgressMenu{
        width: 70%;
        height: 500px;
    }

    .descProgressMenu{
        font-size: 15px;
    }
    .TitleProgressMenu{
        font-size: 20px;
    }
    .MenuItemBtn {
        width: 110px;
        font-size: 10px;
    }
    .align-items-Mobile-center{
        display: flex;
        justify-content: center!important;
    }

    .TopSliderStake {
        font-size: 20px
    }
    .BorderImgSliderStake{
        width: 50px;
    }
}

